In [1]:
### importation des librairies
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf
import pandas as pd
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense, GRU, Dropout
import numpy as np
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.activations import linear, relu, sigmoid
from tensorflow.keras import regularizers
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder, StandardScaler
from keras.layers import RepeatVector
from tensorflow.keras.layers import *
from tensorflow.keras.models import load_model
from tensorflow.keras.layers import Input, Embedding, GRU, Dense, Dropout, BatchNormalization, Bidirectional, Flatten, concatenate

from tensorflow.keras.models import Model
from tensorflow.keras.utils import to_categorical
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.losses import CategoricalCrossentropy
from tensorflow.keras.optimizers.schedules import ExponentialDecay
from tensorflow.keras.callbacks import ReduceLROnPlateau
tf.random.set_seed(42)
np.random.seed(42)

from tensorflow.keras.callbacks import EarlyStopping

from sklearn.preprocessing import StandardScaler
print(tf.__version__)

np.set_printoptions(precision=2)

2.16.2

In [6]:
### importation des données en pandas
x_train_df = pd.read_csv("/Users/josealmeida/Desktop/Data Challenge/données/X_train_N1UvY30.csv")
y_train_df = pd.read_csv("/Users/josealmeida/Desktop/Data Challenge/données/y_train_or6m3Ta.csv")
x_test_df=pd.read_csv("/Users/josealmeida/Desktop/Data Challenge/données/X_test_m4HAPAP.csv")
x_train_df_sequences=x_train_df.groupby('obs_id')
x_train_df.head(120)

,obs_id,venue,order_id,action,side,price,bid,ask,bid_size,ask_size,trade,flux
0,0,4,0,A,A,0.30,0.0,0.01,100,1,False,100
1,0,4,1,A,B,-0.17,0.0,0.01,100,1,False,100
2,0,4,2,D,A,0.28,0.0,0.01,100,1,False,-100
3,0,4,3,A,A,0.30,0.0,0.01,100,1,False,100
4,0,4,4,D,A,0.37,0.0,0.01,100,1,False,-100
...,...,...,...,...,...,...,...,...,...,...,...,...
115,1,4,11,A,B,-0.06,0.0,0.04,2,75,False,100
116,1,4,12,A,B,-0.01,0.0,0.04,2,75,False,100
117,1,4,13,A,A,0.06,0.0,0.04,2,75,False,4
118,1,2,14,A,B,-0.01,0.0,0.04,2,75,False,1
119,1,5,15,D,B,-0.78,0.0,0.04,2,75,False,-100

In [7]:
from Data_Shaping import *
#print(analyze_basic_stats(x_train_df))
print(generate_exploration_report(x_train_df,x_train_df_sequences))

{'basic_stats':               price           bid           ask      bid_size      ask_size  \
count  1.608000e+07  1.608000e+07  1.608000e+07  1.608000e+07  1.608000e+07
mean   8.812648e-01  1.712649e-04  5.948271e-01  4.298622e+02  4.292795e+02
std    2.175896e+02  3.656416e-02  1.109399e+01  7.396914e+02  7.272936e+02
min   -5.697700e+02 -7.600000e-01 -3.805900e+02 -2.000000e+00  1.000000e+00
25%   -2.000000e-02  0.000000e+00  1.000000e-02  1.000000e+02  1.000000e+02
50%    1.000000e-02  0.000000e+00  4.000000e-02  2.230000e+02  2.210000e+02
75%    9.000000e-02  0.000000e+00  8.000000e-02  5.010000e+02  5.000000e+02
max    1.999763e+05  1.617000e+01  2.679400e+02  8.766300e+04  1.501150e+05

               flux
count  1.608000e+07
mean   2.707886e-02
std    1.457154e+02
min   -5.000000e+04
25%   -1.000000e+02
50%   -1.000000e+00
75%    1.000000e+02
max    3.130000e+04  , 'distributions': {'skewness': obs_id      3.374454e-17
venue      -7.752182e-01
order_id    1.733989e-01
price       9.163302e+02
bid         2.098344e+02
ask         8.287267e+00
bid_size    2.774213e+01
ask_size    2.854754e+01
flux       -4.573537e+00
dtype: float64, 'kurtosis': obs_id          -1.200000
venue           -0.713636
order_id        -0.985542
price       841861.610829
bid          92778.383427
ask            374.866207
bid_size      2459.525792
ask_size      4146.945372
flux          2930.978871
dtype: float64}, 'categorical_analysis': {'venue': venue
4    0.382854
5    0.230032
0    0.113379
2    0.096762
1    0.091478
3    0.085495
Name: proportion, dtype: float64, 'action': action
A    0.495807
D    0.495410
U    0.008783
Name: proportion, dtype: float64, 'side': side
B    0.501039
A    0.498961
Name: proportion, dtype: float64, 'trade': trade
False    0.995219
True     0.004781
Name: proportion, dtype: float64}, 'action_transitions': action
(D, A)       4090588
(A, D)       4086292
(A, A)       3757014
(D, D)       3727157
(A, None)      80135
(D, None)      79230
(U, D)         72943
(D, U)         69219
(A, U)         49139
(U, A)         45401
(U, U)         21447
(U, None)       1435
Name: count, dtype: int64, 'temporal_patterns':          flux                       trade       action
         mean         std  min  max   sum     <lambda>
obs_id
0        2.99   93.739861 -200  200     0     [51, 49]
1        2.80   94.011927 -200  200     3  [49, 43, 8]
2        9.00  151.864373 -600  600     1     [54, 46]
3        1.32   74.986447 -200  200     0  [50, 49, 1]
4      -10.59  126.849955 -400  299     0     [52, 48]
...       ...         ...  ...  ...   ...          ...
160795  -0.22   74.023690 -100  100     0  [50, 49, 1]
160796   5.46   86.512499 -100  100     0  [52, 47, 1]
160797   0.89   95.264851 -200  200     2     [51, 49]
160798 -11.51   96.189049 -200  150     2  [55, 44, 1]
160799   5.93   98.553606 -300  300     0     [50, 50]

[160800 rows x 6 columns], 'price_dynamics': {'spread_stats': count    1.608000e+07
mean     5.946558e-01
std      1.109400e+01
min     -3.806000e+02
25%      2.000000e-02
50%      4.000000e-02
75%      8.000000e-02
max      2.679400e+02
Name: spread, dtype: float64, 'imbalance_stats': count    1.608000e+07
mean     8.095923e-04
std      6.026955e-01
min     -1.500000e+00
25%     -4.962594e-01
50%      0.000000e+00
75%      4.981273e-01
max      9.999595e-01
Name: order_imbalance, dtype: float64}, 'data_quality': {'missing': obs_id             0
venue              0
order_id           0
action             0
side               0
price              0
bid                0
ask                0
bid_size           0
ask_size           0
trade              0
flux               0
spread             0
order_imbalance    0
dtype: int64, 'consistency': {'ask_greater_than_bid': False, 'positive_sizes': False, 'valid_actions': True}}}